<div ng-controller="UserCtrl">
  <div id="user_area">
    <div class="userspheres">
      <div ng-show="signedin || spheredata.channelname == data-sphere" class="four psphere" data-sphere="WiserEarth" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/WiserEarth3.png") %></div>
      <!-- <div ng-show="signedin" class="six psphere" data-sphere="Pachamama Alliance" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/Pachamama1.png") %></div> -->
      <div ng-show="signedin" class="three psphere" data-sphere="BALLE" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/BALLE-logo2.png") %></div>
      <!-- <div ng-show="signedin" class="four psphere" data-sphere="American Geophysical Union" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/AGU1.png") %></div> -->
      <div ng-show="signedin" class="two psphere" data-sphere="Bioneers" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/Bioneers2.png") %></div>
      <div ng-show="signedin" class="one psphere" data-sphere="Rainforest Action Network" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/RANLogo4.png") %></div>
      <!-- <div ng-show="signedin || spheredata.channelname == 'Planetwork'" class="one psphere" data-sphere="Buckminster Fuller Institute" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/BFI_logo-sphere4.png") %></div> -->
    </div>
  </div>

  <div id="dashlogo"><img alt="" ng-src="{{spheredata.dashlogo}}"></div>

  <div id="usermenu">
    <div class="menu_item closedash" hover-highlight user-menu targt="close">Close Dash</div>
    <div class="menu_item dashboard_user" hover-highlight ng-show="signedin"><a href="https://spherical.io/"><em>{{signedin.screenname}}</em><span class="image"><img ng-src="{{signedin.bigpic}}" brkn-img /></span></a></div>
    <div class="menu_item signin" hover-highlight user-menu targt="signin" ng-show="!signedin">Sign In</div>
    <div class="menu_item signout" hover-highlight user-menu targt="signout" ng-show="signedin">Sign Out</div>
    <div class="menu_item invitation" hover-highlight flasher user-menu targt="invitation" ng-show="invitation">Invitation</div>
  </div>
</div>


<div ng-controller="ActivityCtrl" class="activity_ctrl">

  <ul class="chooser" rn-carousel rn-carousel-index="carouselIndex" rn-carousel-duration="300" rn-carousel-easing="easeOutSine">
    <li ng-repeat="slide in chooser.items">
      <div class="slide" chooser-click id="{{slide.id}}" data-itemid="{{slide.id}}" data-index="{{$index}}" data-itemtype="{{slide.itemtype}}" data-ctxname="{{slide.ctxname}}">

          <img ng-src="{{slide.pic}}" brkn-img />

          <div class="story" ng-show="slide.itemtype == 'story'">
            <h4>{{slide.description}}</h4>
            <div class="elevation" ng-show="slide.elevation > 0">{{slide.elevation}}</div>

          </div>

          <div class="story discussion" ng-show="slide.itemtype == 'discussion'">
            <h4>{{slide.description}}</h4>
            <div class="discussion_elevation" ng-show="slide.elevation > 0">{{slide.elevation}}</div>

            <div class="author_data" ng-if="slide.itemtype == 'discussion'">
              <div class="author_img" post-author-image imgaddr="slide.thumbnail"></div>
              <p class="author">by {{slide.author}}<br />{{slide.pubdate}}</p>
            </div>
          </div>

          <div class="story" ng-show="slide.itemtype == 'related'">
            <h4>{{slide.description}}</h4>
          </div>

          <div class="story resource" ng-show="slide.itemtype == 'resource'">
            <h4>{{slide.resource_name}}</h4>
            <div class="resource_data"><span ng-pluralize count="slide.filecount" when="{'0': 'No files', 'one': '1 file', 'other': '{} files'}"></span>, <span ng-pluralize count="slide.urlscount" when="{'0': 'no URLs', 'one': '1 URL', 'other': '{} URLs'}"></span></div>
            <div class="resource_elevation" ng-show="slide.elevation > 0">{{slide.elevation}}</div>
            <div class="author_data">
              <div class="author_img" post-author-image imgaddr="slide.thumbnail"></div>
              <p class="author">from {{slide.author}}<br />{{slide.pubdate}}</p>
            </div>
          </div>

          <div class="profile" ng-show="slide.itemtype == 'profile'">
            <div class="profile_image">
              <img ng-src="{{slide.profile_image}}" brkn-img />
            </div>

            <div class="profile_data">
              <h4>{{slide.screenname}}</h4>
            </div>
          </div>

      </div>
    </li>
  </ul>

  <div class="controls_bar">
    <div class="topic_controls">
      <div class="control_rt" cntrlbar-btn btntarget="elevate">
        <span class="elevate" ng-class="{active: itemctls()}">Elevate</span>
        <span class="elevate_fbk" ng-class="{error: !elevation_result.success}" ng-show="elevation_result.message">{{elevation_result.message}}</span>
      </div>
      <!-- <div class="control_rt" cntrlbar-btn btntarget="repost">
        <span class="repost" ng-class="{active: itemctls(}">Repost</span>
      </div> -->
      <div class="control_rt" cntrlbar-btn btntarget="share">
        <span class="share" ng-class="{active: itemctls()}">Share / Invite</span>
      </div>
    </div>
  </div>

  <div class="activity_window">
    <div class="topic_indicator" ng-show="chooser.state.menuVisible">
      <h3 topic-cntrl-btn btntarget="channel" ng-class="{active: chooser.state.channelActive}">{{spheredata.channelname}}</h4>

      <h4 topic-cntrl-btn btntarget="related" ng-class="{active: !chooser.state.channelActive}" style="margin-bottom: 0;">Related</h4>
        <h4 class="indented active" ng-show="!chooser.state.channelActive && chooser.state.relatedActive" style="margin-top: 0;">{{chooser.state.currentTopic}}</h4>

      <h4 ng-show="chooser.state.topicIndicatorVisible" topic-cntrl-btn btntarget="stories" ng-class="{active: visible.activity_window == 'story'}">Stories</h4>

      <h4 topic-cntrl-btn btntarget="discussions" ng-class="{active: visible.activity_window == 'discussions'}" ng-show="chooser.state.topicIndicatorVisible">Discussions</h4>

      <h4 topic-cntrl-btn btntarget="resources" ng-show="chooser.state.topicIndicatorVisible" ng-class="{inactive: !visible.signedin, active: visible.activity_window == 'resources'}">Resources</h4>

      <h4 topic-cntrl-btn btntarget="curators" ng-show="chooser.state.topicIndicatorVisible" ng-class="{inactive: !visible.signedin, active: visible.activity_window == 'curators'}">Curators</h4>

      <h4 topic-cntrl-btn btntarget="participants" ng-show="chooser.state.topicIndicatorVisible" ng-class="{inactive: !visible.signedin, active: visible.activity_window == 'participants'}">Participants</h4>

      <div class="newcreate" ng-show="visible.signedin.curator && chooser.state.channelActive && !chooser.state.relatedActive && chooser.state.topicIndicatorVisible">
        <h4 topic-cntrl-btn btntarget="new_discussion">Discussion</h4>
        <h4 topic-cntrl-btn btntarget="new_resource">Resource</h4>
        <h4>Sphere</h4>
      </div>

    </div>

    <div class="item_display" ng-class="{inactive: !chooser.state.topicIndicatorVisible}">

      <div class="storywindow" ng-show="visible.activity_window == 'story'" story-display activestory="chooser.state.activeStory"></div>

      <div class="discussions" ng-show="visible.activity_window == 'discussions'" discussion-display></div>

      <div class="resources" ng-show="visible.activity_window == 'resources'" resource-display></div>

      <div class="userprofile" ng-show="visible.activity_window == 'curators'" user-profile thisuser="chooser.state.activeCurator" currentuser="visible.signedin"></div>

      <div class="userprofile" ng-show="visible.activity_window == 'profiles'" user-profile thisuser="chooser.state.activeProfile" currentuser="visible.signedin"></div>


      <div class="new_discussion item-overlay" ng-show="visible.overlay == 'discussion_edit'" discussion-edit currenttopic="chooser.state.currentTopicId" visible="visible" chooserdata="chooserdata"></div>

      <div class="shareinvite item-overlay" ng-show="visible.overlay == 'shareitem'" shareform></div>

      <div class="resource_edit item-overlay" ng-show="visible.overlay == 'resource_edit'" resourceform></div>
    </div>
  </div>
</div>
