<div ng-controller="UserCtrl">
  <div id="user_area">
    <div class="userspheres">
      <div ng-show="signedin" class="seven psphere" data-sphere="WiserEarth" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/WiserEarth2.png") %></div>
      <div ng-show="signedin" class="six psphere" data-sphere="Pachamama Alliance" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/Pachamama1.png") %></div>
      <div ng-show="signedin" class="five psphere" data-sphere="BALLE" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/BALLE1.png") %></div>
      <div ng-show="signedin" class="four psphere" data-sphere="American Geophysical Union" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/AGU1.png") %></div>
      <div ng-show="signedin" class="three psphere" data-sphere="Bioneers" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/Bioneers_sphere.png") %></div>
      <div ng-show="signedin" class="two psphere" data-sphere="Rainforest Action Network" user-sphere><%= image_tag("#{ENV['FULLHOST']}assets/RANLogo_sphere1.png") %></div>
      <div ng-show="true" class="one psphere" data-sphere="Buckminster Fuller Institute" user-sphere><a href="http://sandbox.planetwork.net/#/sphere"><%= image_tag("#{ENV['FULLHOST']}assets/BFI_logo-sphere4.png") %></a></div>
    </div>
  </div>

  <div id="dashlogo"><img alt="" ng-src="{{spheredata.dashlogo}}"></div>

  <div id="usermenu">
    <div class="menu_item closedash" hover-highlight user-menu targt="close">Close Dash</div>
    <div class="menu_item dashboard_user" ng-show="signedin"><em>{{signedin.screenname}}</em><span class="image"><img ng-src="{{signedin.bigpic}}" brkn-img /></span></div>
    <div class="menu_item signin" hover-highlight user-menu targt="signin" ng-show="!signedin">Sign In</div>
    <div class="menu_item signout" hover-highlight user-menu targt="signout" ng-show="signedin">Sign Out</div>
    <div class="menu_item invitation" hover-highlight flasher user-menu targt="invitation" ng-show="invitation">Invitation</div>
  </div>
</div>


<div ng-controller="ActivityCtrl" class="activity_ctrl">
  <div class="topic-swiper" topic-swiper slidearray="spheredata.topics"></div>

  <div class="controls_bar">
    <div class="topic_controls">
      <div class="control_rt" cntrlbar-btn btntarget="new_discussion">
        <span class="discussion" ng-class="{active: visible.topicctls() && !visible.shareitem}">New Discussion</span>
      </div>
      <div class="control_rt" cntrlbar-btn btntarget="elevate">
        <span class="elevate" ng-class="{active: visible.itemctls() && !visible.shareitem}">Elevate</span>
        <span class="elevate_fbk" ng-class="{error: !elevation_result.success}" ng-show="elevation_result.message">{{elevation_result.message}}</span>
      </div>
      <div class="control_rt" cntrlbar-btn btntarget="repost">
        <span class="repost" ng-class="{active: visible.itemctls() && !visible.shareitem}">Repost</span>
      </div>
      <div class="control_rt" cntrlbar-btn btntarget="share">
        <span class="share" ng-class="{active: visible.itemctls()}">Share / Invite</span>
      </div>
    </div>
  </div>

  <div class="activity_window">
    <div class="topic_indicator" id="{{currentTopic.id}}">
      <h4 topic-cntrl-btn btntarget="all" ng-class="{active: !topicIndicatorVisible}">Planetwork</h4>

      <h3 ng-show="topicIndicatorVisible">{{currentTopic.name}}</h3>
      <h4 ng-show="topicIndicatorVisible">Related</h4>
      <h4 ng-click="activityShow('stories')" ng-class="{active: visible.stories && topicIndicatorVisible}" ng-show="topicIndicatorVisible">Stories</h4>
      <!-- <h4 ng-click="activityShow('discussions')" ng-class="{active: visible.discussions}" ng-show="state.includes('**.topic.**') && currentTopicDiscussions.length > 0">Discussions</h4> -->
      <h4 ng-click="activityShow('discussions')" ng-class="{active: visible.discussions}" ng-show="topicIndicatorVisible">Discussions</h4>
      <h4 ng-show="topicIndicatorVisible">Resources</h4>
      <h4 ng-click="activityShow('curators')" ng-show="topicIndicatorVisible" ng-class="{inactive: !visible.signedin, active: visible.curators}">Curators</h4>
      <h4 ng-click="activityShow('participants')" ng-show="topicIndicatorVisible" ng-class="{inactive: !visible.signedin, active: visible.participants}">Participants</h4>
    </div>

    <div class="item_display">
      <div class="item-swiper" ng-show="visible.stories" item-swiper itemarray="topicItems"></div>
      <div class="discussions" ng-show="visible.discussions" discussion-display></div>
      <div class="new_discussion" ng-show="visible.discussion_edit" discussion-edit currenttopic="currentTopic.id" visible="visible" chooserdata="chooserdata"></div>
      <div class="shareinvite" ng-show="visible.shareitem" shareform></div>
    </div>
  </div>
</div>
