<div ng-controller="UserCtrl">
    <% if current_user %>
    <div class="userspheres">
      <div class="usphere three psphere" data-sphere="bfi" user-sphere><%= image_tag('Bioneers_sphere.png') %></div>
      <div class="usphere two psphere" data-sphere="bfi" user-sphere><%= image_tag('RANLogo_sphere1.png') %></div>
      <div class="usphere one psphere" data-sphere="bfi" user-sphere><a href="http://sandbox.planetwork.net/#/sphere"><%= image_tag('BFI_logo-sphere4.png') %></a></div>
    </div>

    <div class=menubox>
      <div class="menu_item profile" hover-highlight><a href="/personal_settings/profile"><em><%= current_user.screen_name %></em><span class="image"><img ng-src="{{usersignin.signedin.pic}}" brkn-img /></span></a></div>

      <div class="menu_item invite" hover-highlight><a href="/invite/card">Invite</a></div>

      <%= form_tag("/sphere/signout_submit", :id => "signout_form") do %>
        <div class="menu_item signout" hover-highlight submittor>Sign Out</div>
      <% end %>
    </div>
    <% end %>
</div>
