<div class="form_containers profile_container" ng-controller="ProfileCtrl">
  <h1>Edit Profile</h1>

  <form name="userprofileform" novalidate>
    <p><span class="label">Signin Name</span><em><%= current_user.handle %></em></p>
    <fieldset>
      <p>
        <span class="fld label">Screen Name</span>
        <input type="text" placeholder="Optional" name="screenname" ng-model="userprofile.screen_name" value="{{userprofile.screen_name || signedin.handle}}" is-focussed unique-screenname />
        <span class="ok" ng-show="userprofileform.screenname.$dirty && userprofileform.screenname.$valid && !_focussed.screenname && !checking_screenname"></span>
        <span class="error" ng-show="userprofileform.screenname.$dirty && userprofileform.screenname.$error.unique_screenname && !_focussed.screenname && !checking_screenname">in use</span>
        <span class="spinner" ng-show="checking_screenname"><%= image_tag('ajax-loader.gif') %></span>
      </p>
      <p>
        <span class="fld label">Email</span>
        <input type="email" placeholder="Required" name="email" ng-model="userprofile.email" value="{{userprofile.email}}" is-focussed unique-email />
        <span class="ok" ng-show="userprofileform.email.$dirty && userprofileform.email.$valid && !_focussed.email && !checking_email"></span>
        <span class="error" ng-show="userprofileform.email.$dirty && userprofileform.email.$error.required && !_focussed.email && !checking_email">required</span>
        <span class="error" ng-show="userprofileform.email.$dirty && userprofileform.email.$error.invalid && !userprofileform.email.$error.required && !_focussed.email && !checking_email">invalid</span>
        <span class="error" ng-show="userprofileform.email.$dirty && userprofileform.email.$error.unique_email && !userprofileform.email.$error.required && !userprofileform.email.$error.invalid && !_focussed.email && !checking_email">in use</span>
        <span class="spinner" ng-show="checking_email"><%= image_tag('ajax-loader.gif') %></span>
      </p>

      <p class="form_btn">
        <span class="feedback" ng-show="userprofileform.$pristine && show_prof_feedback" ng-class="{fbk_error: prof_error}">{{prof_message}}</span>
        <span class="spinner" ng-show="userprofileform.$pristine && show_prof_spinner"><%= image_tag('ajax-loader.gif') %></span>
        <input type="button" ng-click="userprofileSubmit()" ng-class="{active: userprofileform.$dirty && userprofileform.$valid && !_focussed.screenname && !_focussed.email}" class="uprof_submit" name="uprof_submit" value="Save" hover-highlight></p>
    </fieldset>
  </form>

  <form name="changepwdform" novalidate>
    <fieldset>
      <p>
        <span class="fld label">Change Password</span>
        <input type="password" placeholder="New Password" name="password" value="" ng-model="password" required is-focussed />
        <span class="ok" ng-show="changepwdform.password.$dirty && changepwdform.password.$valid && !_focussed.password"></span>
        <span class="error" ng-show="changepwdform.password.$dirty && changepwdform.password.$error.required && !_focussed.password">required</span>
      </p>
      <p>
        <span class="fld label">Confirm Password</span>
        <input type="password" placeholder="Password Again" name="pwd_confirm" value="" ng-model="pwd_confirm" required is-focussed pwd-match />
        <span class="ok" ng-show="changepwdform.pwd_confirm.$dirty && changepwdform.password.$valid && changepwdform.pwd_confirm.$valid && !_focussed.pwd_confirm"></span>
        <span class="error" ng-show="changepwdform.pwd_confirm.$dirty && changepwdform.pwd_confirm.$error.required && !_focussed.pwd_confirm">required</span>
        <span class="error" style="top:0;" ng-show="changepwdform.pwd_confirm.$dirty && !changepwdform.pwd_confirm.$error.required && changepwdform.pwd_confirm.$error.match && !_focussed.pwd_confirm">doesn't<br />match</span>
      </p>

      <p class="form_btn">
        <span class="feedback" ng-show="changepwdform.$pristine && show_pwd_feedback" ng-class="{fbk_error: chpwd_error}">{{chpwd_message}}</span>
        <span class="spinner" ng-show="changepwdform.$pristine && show_pwd_spinner"><%= image_tag('ajax-loader.gif') %></span>
        <input type="button" ng-click="changepwdSubmit()" class="chpass_submit" ng-class="{active: changepwdform.$dirty && changepwdform.$valid && !_focussed.password && !_focussed.pwd_confirm}" name="chpass_submit" value="Change" hover-highlight>
        </p>
    </fieldset>
  </form>

  <form class="pprofile-dropzone dropzone" dzone>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <div class="dz-message">To upload picture<br />drop file here<br />(or click)</div>
  </form>
  <div style="position:relative">
    <div class="menu_item savepic" ng-class="{active: picture_present && !picture_error}" hover-highlight save-pic>Save</div>
    <div class="menu_item cancelpic" ng-class="{active: picture_present}" hover-highlight cancel-pic>Cancel</div>
  </div>

</div>
